*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
*.p12
make123/android/app/src/main/assets/*
!make123/android/app/src/main/assets/.gitkeep
